#new-delivery {
  display: block;
  margin: 20px 0;
}

.pagination {
  display: block;
  margin: 20px 0;
}

#deliveries {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  margin: 20px 0;
}

#deliveries > div {
  background-color: lightgrey;
}

#total-cost {
  grid-column: 6 / 7;
}
